<!DOCTYPE html>
    <head>
        <!---Title-->
        <title> Weekly Forecast </title>
        <!--javascript-->
        <script src="js/main.js" type="module"></script>
        <!--stylesheets-->
        <link href="css/style.css" rel="stylesheet"/>
        <link href="css/icons.css" rel="stylesheet"/>
        <link href="css/fontawesome/fontawesome.css" rel="stylesheet"/>
        <link href="css/fontawesome/solid.css" rel="stylesheet"/>
        <!--fontawesome-->
        <script src="https://kit.fontawesome.com/40e1376d5d.js" crossorigin="anonymous"></script>
        <!--metadata-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf-8"/>
    </head>
    <body>
        <!-- ---------------- Content ------------------->
        <div id="container">
            <template id="template-forecast">
                <div id="forecast-temp">
                    <div id="template-left">
                        <label id="forecast-date"></label>
                        <label id="temp"></label>
                    </div>
                    <div id="template-center">
                        <img id="wIcon" src="">
                    </div>
                    <div id="template-right">
                        <label id="icon-phrase"></label>
                        <label id="precipitation"></label>
                    </div>
                </div>
            </template>
        </div>
    </body>
</html>